BookingWorkflowOrchestrator.json
{
  "StartAt": "BookHotelState",
  "States": {
    "BookHotelState": {
      "Type": "Task",
      "Parameters": {
        "buyer_id.$": "$.purchase.buyer_id",
        "end_date.$": "$.hotel.end_date",
        "near.$": "$.museum.museum_name",
        "start_date.$": "$.hotel.start_date"
      },
      "Resource": "arn:aws:lambda:[Regional]:[Account_ID]:function:BookHotelClient",
      "Catch": [
        {
          "ErrorEquals": ["InvalidInputError"],
          "Next": "BookHotelInvalidInputError"
        },
        {
          "ErrorEquals": ["TransientError"],
          "Next": "BookHotelTransientError"
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "Next": "BookHotelFallback"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "BookHotelAllFallback"
        }
      ],
      "ResultPath": "$.hotel",
      "Next": "BookMuseumState"
    },
    "BookHotelInvalidInputError": {
      "Type": "Fail",
      "Error": "InvalidInputError",
      "Cause": "This is a fallback from a BookHotel Lambda function exception; Invalid Input Error."
    },
    "BookHotelTransientError": {
      "Type": "Fail",
      "Error": "TransientError",
      "Cause": "This is a fallback from a BookHotel Lambda function exception; Transient Error."
    },
    "BookHotelFallback": {
      "Type": "Fail",
      "Error": "States.TaskFailed",
      "Cause": "This is a fallback from a reserved error code in BookHotel Lambda function."
    },
    "BookHotelAllFallback": {
      "Type": "Fail",
      "Error": "States.ALL",
      "Cause": "This is a fallback from any error code in BookHotel Lambda function."
    },
    "BookMuseumState": {
      "Type": "Task",
      "Parameters": {
        "buyer_id.$": "$.purchase.buyer_id",
        "museum_name.$": "$.museum.museum_name",
        "when.$": "$.museum.when"
      },
      "Resource": "arn:aws:lambda:[Regional]:[Account]:function:BookMuseumClient",
      "Catch": [
        {
          "ErrorEquals": ["InvalidInputError"],
          "Next": "BookMuseumInvalidInputError"
        },
        {
          "ErrorEquals": ["TransientError"],
          "Next": "BookMuseumTransientError"
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "Next": "BookMuseumFallback"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "BookMuseumAllFallback"
        }
      ],
      "ResultPath": "$.museum",
      "End": true
    },
    "BookMuseumInvalidInputError": {
      "Type": "Fail",
      "Error": "InvalidInputError",
      "Cause": "This is a fallback from a BookMuseum Lambda function exception; Invalid Input Error."
    },
    "BookMuseumTransientError": {
      "Type": "Fail",
      "Error": "TransientError",
      "Cause": "This is a fallback from a BookMuseum Lambda function exception; Transient Error."
    },
    "BookMuseumFallback": {
      "Type": "Fail",
      "Error": "States.TaskFailed",
      "Cause": "This is a fallback from a reserved error code in BookMuseum Lambda function."
    },
    "BookMuseumAllFallback": {
      "Type": "Fail",
      "Error": "States.ALL",
      "Cause": "This is a fallback from any error code in BookMuseum Lambda function."
    }
  }
}