BookingWorkflowOrchestrator.json
{
  "StartAt": "BookHotelState",
  "States": {
    "BookHotelState": {
      "Next": "BookMuseumState",
      "Parameters": {
        "buyer_id.$": "$.purchase.buyer_id",
        "end_date.$": "$.hotel.end_date",
        "near.$": "$.museum.museum_name",
        "start_date.$": "$.hotel.start_date"
      },
      "Resource": "arn:aws:lambda:region:accountId:function:BookHotelClient",
      "ResultPath": "$.hotel",
      "Type": "Task",
      "Retry": [
        {
          "ErrorEquals": [
            "TransientError"
          ],
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "InvalidInputError"
          ],
          "Next": "BookHotelInvalidInputError"
        },
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "BookHotelFallback"
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "BookHotelAllFallback"
        }
      ]
    },
    "BookHotelInvalidInputError": {
      "Type": "Fail",
      "Error": "InvalidInputError",
      "Cause": "This is a fallback from a BookHotel Lambda function exception; Invalid Input Error."
    },
    "BookHotelFallback": {
      "Type": "Fail",
      "Error": "States.TaskFailed",
      "Cause": "This is a fallback from a reserved error code in BookHotel Lambda function."
    },
    "BookHotelAllFallback": {
      "Type": "Fail",
      "Error": "States.ALL",
      "Cause": "This is a fallback from any error code in BookHotel Lambda function."
    },
    "BookMuseumState": {
      "End": true,
      "Parameters": {
        "buyer_id.$": "$.purchase.buyer_id",
        "museum_name.$": "$.museum.museum_name",
        "when.$": "$.museum.when"
      },
      "Resource": "arn:aws:lambda:region:accountId:function:BookMuseumClient",
      "ResultPath": "$.museum",
      "Type": "Task",
      "Retry": [
        {
          "ErrorEquals": [
            "TransientError"
          ],
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "CancelHotelState"
        }
      ]
    },
    "CancelHotelState": {
      "Type": "Task",
      "Next": "BookMuseumAllFallback",
      "Resource": "arn:aws:lambda:region:accountId:function:CancelHotelServer"
    },
    "BookMuseumAllFallback": {
      "Type": "Fail",
      "Error": "States.ALL",
      "Cause": "This is a fallback from any error code in BookMuseum Lambda function."
    }
  }
}